/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-cont {
	margin: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75vh;
}
.title {
	font-size: 80px;
	align-self: center;
}

.main-tabs {
	margin-top: 8vh;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	height: 60%;
	box-sizing: border-box;
}

.tab-outer {
	box-sizing: border-box;
	width: 55vw;
	height: 100%;
}

.tab-container {
	display: flex;
	/* justify-content: stretch; */
	/* align-items: center; */
	width: 100%;
	box-sizing: border-box;
}

.tab-header {
	border-top: solid 1px darkgray;
	border-bottom: solid 1px darkgray;
	font-size: 35px;
	box-sizing: border-box;
	padding: 4px;
	background-color: rgb(240, 238, 238);
	text-align: center;
	width: 33.5%;
}

.tab-container > :first-child {
	border-left: solid 1px darkgray;
	border-radius: 8px 0 0 0;
}

.tab-container > :nth-child(2) {
	border-left: solid 1px darkgray;
	border-right: solid 1px darkgray;
}

.tab-container > :last-child {
	border-right: solid 1px darkgray;
	border-radius: 0 8px 0 0;
}

.active{
	font-weight: bold;
	border-bottom: none;
	background-color: white;
	box-sizing: border-box;
  }

.tab-header:hover {
	background-color: lightgray;
	cursor: pointer;
}

li.active:hover{
	background-color: lightgray;
}

.tab-content {
	display: flex;
	flex-direction: column;
	padding: 36px;
	border: solid 1px darkgray;
	border-radius: 0 0 8px 8px;
	border-top: 0;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	font-size: 24px;
}

.weather-info {
	display: flex;
}

.weather-main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 1100ms infinite;      
	animation: ellipsis steps(4,end) 1100ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
  }
  
  @keyframes ellipsis {
	to {
	  width: 1.25em;    
	}
  }
  
  @-webkit-keyframes ellipsis {
	to {
	  width: 1.25em;    
	}
  }

span {
	height: 100%;
}

.owf {
	padding-right: 22px;
	width: 36px;
	height: auto;
}
::before {
	font-size: 52px;
}
.weather-text {
	font-size: 28px;
	align-self: flex-end;
}

.clock-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.clock-nums {
	border: 3px solid black;
	border-radius: 5px;
	padding: 8px;
	margin: 18px;
	width: 120px;
}